<div class="row">
  <div class="center">
    <h2>Your Purchase History</h2>
  </div>

  <table class="table table-hover">
    <tr>
      <th>Image</th>
      <th>Item</th>
      <th>Price</th>
      <th>Seller</th>
      <th>Date Purchased</th>
    </tr>

    <% @orders.each do |order| %>
      <tr>
        <td><%= image_tag(order.listing.image.url(:thumb)) %></td>
        <td><%= order.listing.name %></td>
        <td><%= number_to_currency(order.listing.price) %></td>
        <td><%= order.seller.name %></td>
        <td><%= order.created_at.strftime("%-d %B  %Y") %></td>
      </tr>
    <% end %>
  </table>
</div>

<% if user_signed_in? %>
  <%= link_to 'New Listing', new_listing_path, class: "btn btn-link" %>
<% end %>